@import './normalize.scss';
@import '~antd/dist/antd.css';

body {
	font-family: 'Gilroy', sans-serif;
	font-weight: normal;
}

:root {
	--gx-color-header: #f9f9f9;
	--gx-color-content-left: #ffffff;
	--gx-color-content-right: #393939;
	--gx-color-icon-header: #4b4b4b;
	--gx-color-border-form-result: #979055;
	--gx-color-text-form-result: #979055;
	--gx-color-text-black: black;
	--gx-color-text-white: white;
	--gx-color-border-autotest-form: rgb(240, 237, 237);
	--gx-color-border-autotest-plus: grey;
	--gx-color-border-autotest-subtitle: #a9a9a9;
	--gx-color-text-autotest-right: #e6daca;
}

//ant-design tabs

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
	display: none;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
	background-color: black;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
	background-color: black;
	border: black;
	color: white;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
	background-color: #393939;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: white;
	text-shadow: none;
}
