.form {
	display: grid;
	grid-gap: 30px;

	&__wrapper {
		border: 1px solid black;
		padding: 0px 10px;
		&_text {
			font-weight: 600;
			font-size: 13px;
			color: white;
			background-color: black;
			padding: 6px;
			position: relative;
			top: -16px;
			display: inline-block;
			margin-bottom: 0;
		}
		&_subtitle {
			color: #a9a9a9;
		}
	}
}
