.form {
	display: grid;

	&__wrapper {
		&_subtitle {
			position: relative;
			top: -20px;
			left: 20px;
			padding-right: 5px;
		}
	}
}

.border {
	border-radius: 5px;
	padding: 5px;
	background-color: var(--gx-color-border-autotest-form);
}

.wrapp {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
