.border {
	border: 1px solid var(--gx-color-border-autotest-form);
	border-radius: 5px;
	padding: 5px;
	background-color: var(--gx-color-border-autotest-form);
	:nth-child(1) {
		margin-bottom: 4px;
	}
	:nth-child(2) {
		margin-bottom: -5px;
	}
}

.icon {
	font-size: 50px;
	width: 100px;
	height: 100px;
	color: var(--gx-color-border-autotest-plus) !important;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 120px;
	align-items: center;
	grid-gap: 10px;
}

.wrapp {
	margin-top: 15px;
	padding-bottom: 15px;
}
